h1{
  color:red;
  font-size: 50px;
}

img:hover{
  background-color: lightblue;
}

/*********Class selectors**********/
.beef{
  background-color: green;
}

.broccoli{
  background-color: green;
}
.circular{
  border-radius: 100%;
}
/*********ID selectors**********/
#heading{
  color: purple;
}
